body {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #333;
}

span {
  padding-top: calc(50vh - 160px);
  display: block;
  text-align: center;
  font-size: 10em;
  color: #eee;
}

svg {
  position: absolute;
  left: calc(50% - 5em / 2);
  bottom: 10%;
  width: 5em;
  background-color: #eee;
  fill: #333;
  border-radius: 50%;
  display: block;
}

@media only screen and (max-width: 600px) {
  span {
    font-size: 5em;
    padding-top: calc(50vh - 80px);
  }
}

@media only screen and (max-width: 320px) {
  span {
    font-size: 4em;
    padding-top: calc(50vh - 64px);
  }
}
