body {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

span {
  padding-top: calc(50vh - 80px);
  display: block;
  text-align: center;
  font-size: 10em;
}

svg {
  position: absolute;
  left: calc(50% - 5em / 2);
  bottom: 10%;
  width: 5em;
  background-color: blueviolet;
  fill: #333;
  border-radius: 50%;
  display: block;
}

@media only screen and (max-width: 600px) {
  span {
    font-size: 5em;
    padding-top: calc(50vh - 45px);
  }
}
